/* You can add global styles to this file, and also import other style files */

body{
    background-color: #333;
    color: #eee;
    text-align: center;
}

footer {
    background-color: #0179CF;
    
       position: fixed;
        bottom: 0;
        width: 100%;
       height: 20px;
  }
header{
    background-color: #0179CF;
    position: relative;
    width: 100%;
    height: 50px;
     margin-top: 0;
}

   

